header{
   display: flex;
   justify-content: space-between;
   background-color:#5E5E5E;
   border-bottom: 5px solid #FF8B90;
}

nav{
   text-align: right;
}

a{
   display: inline-flex;
   align-items: center;
   color:black; 
   font-size: 23px; 
   font-family: "Roboto", sans-serif;
   font-weight: 500;
   text-decoration: none;
   margin-right: 30px;
   text-shadow: 2px 2px 15px #FF8B90;
}   

a::before {
    content:"";
    background-color: #FF8B90;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    border-radius: 3px;
} 

#button{
    display: inline-block;
    background-color:#FF8B90;
    padding: 15px;
    box-shadow: 0px 4px 10px  black;
    border-radius: 10px;
    margin-top: 8px;
    margin-right: 10px;
    transition: transform 100ms linear;
}   
#button:hover{
    transform: scale(1.06);
}

body{
    background-color: black;
}
