@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
	/*[COLORS]==========*/
	/*Main*/
	--primary-color: #9368FC;
	
	/*Backgrounds*/
	--bg-color: #121214;
	--primary-container-color: #202024;
	--secondary-container-color: #29292e;

	/*Titles*/
	--primary-title-color: #FFFFFF;
	--secondary-title-color: #C1C1C4;

	/*Text*/
	--primary-text-color: #E1E1E6;
	--secondary-text-color: #A8A8B3;
	--tertiary-text-color: #9E9EA8;

	/*Status*/
	--good: #04d361;
	--alert: #ffcd1e;
	--error: #e83f5b;

	/*[FONT]=============*/
	/*Family*/
	--sans-serif-font: 'Poppins', sans-serif;
	--monospace-font: 'Fira Code', monospace;

	/*Weight*/
	--tiny-font-weight: 100;
  --small-font-weight: 200;
  --medium-font-weight: 300;
  --big-font-weight: 400;
  --large-font-weight: 500;
  --huge-font-weight: 600;

	/*Size*/
  --tiny-font-size: 1rem;
  --small-font-size: 1.5rem;
  --medium-font-size: 2rem;
  --big-font-size: 2.5rem;
  --large-font-size: 4rem;
  --huge-font-size: 8rem;

	/*[SIZES]===========*/
	/*Border*/
	--main-border-radius: 0.5rem; /* 0.8rem */
  --round-border-radius: 50%;

	/*Margin*/
  --tiny-margin: 0.5rem;
  --small-margin: 1rem;
  --medium-margin: 1.5rem;
  --big-margin: 2rem;
  --large-margin: 2.5rem;
  --huge-margin: 3rem;

	/*Padding*/
  --tiny-padding: 1rem;
  --small-padding: 1.5rem;
  --medium-padding: 2.5rem;
  --big-padding: 5rem;
  --large-padding: 10rem;
  --huge-padding: 15rem;

	/*Gap*/
  --tiny-gap: 0.5rem;
  --small-gap: 1rem;
  --medium-gap: 1.5rem;
  --big-gap: 2rem;
  --large-gap: 2.5rem;
  --huge-gap: 3rem;
}

.light:root {
	/*[COLORS]==========*/
}

html {
  font-size: 62.5%;
  /* font-size: 10px; */
  font-family: var(--sans-serif-font);
  font-weight: 300;
  scroll-behavior: smooth;
}
