/*[GLOBAL]==========*/
body {
	background-color: var(--bg-color);
}

.root {
	max-width: 100vw;
	min-height: 100vh;
	background-color: var(--bg-color);
}

.spacing { /* padding entre o root e o container  */
	padding: 0 var(--small-padding);
	background-color: var(--background);
}

.container { /* limita o tamanho */
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	background-color: violet;
}

.section { /* Sections */
	width: 100%;
	min-height: 100vh;
	border-bottom: 2px solid var(--light-gray);
	background-color: aqua;
}

.b {
	background-color: darkcyan;
}

/*[HEADER]==========*/
.top-fixed {
	position: fixed;
	inset: 0 0 auto 0;
	background-color: var(--bg-color);
}

.header {
	height: 80px;
	background-color: orange;
}

