.card-project{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #40E0D0;
    width: 280px;
    height: 280px;
    box-shadow: 4px 4px 0px  #023633;
    transition: transform 100ms linear;
}
.card-project.-terceiro{
    background-color: #1a385f;
}

.card-project:hover{
    transform: scale(1.02);
    background-color: #22ffe9;
}