.main-footer{
    display: flex;
    justify-content: center;
    background-color: black;
    padding-top: 28px;
    padding-bottom: 28px;
    border-top: 5px solid #023633;
}

.main-footer .action {
    margin-right: 20px;
    margin-left: 20px;
}

