.main-section{
    background-color: black;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 5px solid blueviolet;
}

.main-section .main-title{
    margin-bottom: 60px;
}
.main-section.-bgprojects{
    background-color: black;
    border-bottom: 5px solid blueviolet;
}

.main-section.-bgabout{
    background-color: black;
    border-bottom: 5px solid blueviolet;
}
