.main-section{
    background-color: #23a8a8;
    padding-top: 100px;
    padding-bottom: 100px;
    border-bottom: 5px solid #023633;
}

.main-section .main-title{
    margin-bottom: 60px;
}

.main-section.-bgprojects{
    background-color: #23a8a8;
    border-bottom: 5px solid #023633;
}

.main-section.-bgabout{
    background-color: #23a8a8;
    border-bottom: 5px solid #023633;
}

