.main-title{
    font-family: "Kaushan Script", cursive;
    font-weight: 400;
    font-size: 80px;
    color: black;
    text-shadow: 2px 2px 3px black;
}

.main-title.-second{
    color:white;
    text-shadow: 2px 2px 5px black;
    text-align: center;
}