.main-action{
    display: inline-flex;
    align-items: center;
    color:black; 
    font-size: 23px; 
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
    text-shadow: 2px 2px 15px #FF8B90;
 }   
 
 .main-action::before {
     content:"";
     background-color: #FF8B90;
     width: 10px;
     height: 10px;
     margin-right: 10px;
     border-radius: 3px;
 } 