.progress-bar{
    box-sizing: border-box;
    background-color: white;
    border: 4px solid #023633;
    height: 40px;
}

.progress-bar::-webkit-progress-bar{
    background-color: white;
}

.progress-bar::-moz-progress-bar{
    background-color: #40E0D0;
}